.THIS.box 
{
    margin-left:650px;
    width:300px;
    height:150;
    border-style: dotted;
    background-color: lightblue;
    color:Tomato;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: green;
    
}
.THIS.logo {
    
	margin-left:650px;    
}